.banner {
  color: white;
  object-fit: contain;
  height: 450px;
}
.contents {
  margin-left: 30px;
  padding-top: 70px;
}
.headerTitle {
  font-size: x-large;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 0.5rem;
}
.overview {
  font-size: small;
  line-height: 1.2;
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 400px;
  height: 60px;
}
.bannerButton {
  width: 50px;
  color: whitesmoke;
  line-height: 1.5;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0.2vw;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  max-width: 360px;
  background-color: rgba(51, 51, 51, 0.5);

  border: none;
}
.bannerButton:hover {
  background-color: white;
  color: black;
  transition: 450ms;
}

.fadeBottom {
  margin-top: 210px;
  height: 46px;

  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(17, 17, 17),
    rgb(53, 52, 52)
  );
}
