.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.posterStyle {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: 450ms;
}
.posterStyle:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
.rowPosterLarge {
  height: 250;
  width: 250;
}
.rowPosterLarge:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
.title {
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
